:root {
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 20px 20%;
}

header {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  color: white;
}

p {
  white-space: pre-wrap;
}

h2 {
  font-weight: 700;
}

pre {
  color: rgb(145, 145, 145);
  white-space: pre-line;
}

details {
  margin-bottom: 10px;
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open]>*:not(summary) {
  animation: details-show 150ms ease-in-out;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details[open] summary span.icon {
  transform: rotate(180deg);
}

summary {
  display: flex;
  cursor: pointer;
  font-weight: 700;
}

summary::-webkit-details-marker {
  display: none;
}

.photo {
  place-self: center;
  padding: 30px;
}