.copyIcon {
  stroke: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  padding: 1em;
  margin: .5em 0;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 99999;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:active .copyIcon {
  stroke: rgb(138, 138, 138) !important;
}

.tooltip:focus .copyIcon {
  stroke: rgb(38, 189, 38)
}

.tooltip:focus .tooltiptext {
  visibility: visible;
  opacity: 1;
}